
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background:#000;

}
#clock{
  font-family: 'Pacifico', cursive;
  font-size:5rem;
  color:#32cd32;
  text-transform: uppercase;
}
